.onboard {
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  margin: 0px auto;

  .content {
    position: relative;

    .content-screen {
      position: relative;
      height: 100%;
      max-height: 968px;
      z-index: 1;
      width: auto !important;
    }

    .content-screen-deviant {
      z-index: 2;
      position: absolute;
      top: 24px;
      left: 24px;
      width: auto !important;
    }

    .background-text {
      z-index: 2;
      top: 24px;
      right: 24px;
      color: #ffffff;
      position: absolute;
      font-family: SYSTEM-UI;
      font-style: ExtraBold;
      font-size: 9px;
      line-height: 20px 177%;
      letter-spacing: 21%;
      opacity: 50%;
    }

    .union {
      display: flex;
      align-content: center;
      justify-content: space-around;

      .content-screen-union {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 80px;
        z-index: 2;
      }

      .content-imaginarium-text {
        z-index: 2;
        position: absolute;
        top: 184px;
        height: 40px;
        font-family: SYSTEM-UI;
        font-weight: 700;
        font-size: 32px;
        line-height: 24px;
        letter-spacing: 0.66px;
        background: linear-gradient(90deg, #feac6d 0%, #ae61ed 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .content-screen-text {
      z-index: 2;
      position: absolute;
      height: 56px;
      left: 80px;
      bottom: 80px;
      font-family: SYSTEM-UI
;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 140%;
      text-transform: capitalize;
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.carousel-fix {
  width: auto !important;
}

.carousel .slide {
  background-color: #f8f9fa !important;
}

.carousel-slider .arrow-right {
  z-index: 2;
  position: absolute;
  right: 80px;
  bottom: 80px;
  width: 100px;
  height: 32px;
  background: #1daeff;
  border-radius: 4px;
  color: lemonchiffon;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-family: SYSTEM-UI;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  border: 1px solid white;
}

.carousel-slider .arrow-right > span {
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* hide prev/next button in mobile client */
@media (max-width: 991.98px) {
  .carousel-slider .arrow-left {
    display: none;
  }

  .carousel-slider .arrow-right {
    display: none;
  }
}

.carousel-slider .arrow-login {
  z-index: 2;
  position: absolute;
  right: 80px;
  bottom: 80px;
  width: 100px;
  height: 32px;
  background: #1daeff;
  border-radius: 4px;
  color: lemonchiffon;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-family: SYSTEM-UI;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  border: 1px solid white;
}

.carousel-slider .arrow-signup {
  z-index: 2;
  position: absolute;
  right: 196px;
  bottom: 80px;
  width: 100px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  font-family: SYSTEM-UI;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #cdcdcd;
  background: #0e0e0e;
  border: 1px solid #404040;
  border-radius: 4px;
  text-decoration: none;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}
