@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mulish;
  src: url("../public/assets/font/Mulish/Mulish-VariableFont_wght.ttf");
}

body {
  font-family: "mulish", Mulish;
}

:root {
  --bc: 25 25% 0%;
}

.checkbox {
  background-color: #0e0e0e;
}
