@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400&display=swap");
@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/Mulish/Mulish-VariableFont_wght.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Mulish;
  }
}
